<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Editar usuário</h2>

    <form action="/users/update" method="POST">
        <input type="hidden" name="id" value="{{user[0]}}">
        Nome: <input type="text" name="nome" value="{{user[1]}}">
        <br>
        E-mail: <input type="text" name="email" value="{{user[3]}}">
        <br>
        CPF: <input type="text" name="cpf" value="{{user[2]}}">
        <br>
        <input type="submit" value="Salvar">
    </form>
</body>
</html>