<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> Olá {{user[1]}}!</h2>
    Seus dados: <br>
    E-mail: {{user[3]}} <br>
    CPF: {{user[2]}}
    Imagem de Perfil: 
    <img src="{{  url_for('display_image', filename=user[4]) }}">
    <br>
    <br>
    <a href="/users">
        Home
    </a>
</body>
</html>